---
---

<footer>
	Made with ❤️ by <a href="https://sylvainzimmer.com">Sylvain Zimmer</a>. All content licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		color:#AAA;
	}
</style>
